*{
  margin:0;
  padding:0;
}

body, html{height:100%;}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#list{
  list-style: none;
}

.accueil{
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 -15px 0 -15px;
  position: relative;
}
.menu{
  height: 60vh;
  max-width: 100%;
  align-content: center;
  position: relative;

}
.main{
  min-height:100%;
  margin:0 auto;
  position:relative;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}